@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	/* border: 1px solid greenyellow; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction:row-reverse;
	align-items: center;
}

.mtc__part {
	position: absolute;
	bottom: 50px;
	left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mtc__part img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.back {
	display: flex;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 10px;
	background: linear-gradient(45deg, #060AB2, #060AB2);
	color: #fff;
	width: fit-content;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 99;

}

.back:active {
	box-shadow: #000 inset 1px 1px 10px -1px;
}

.back_img {
	position: absolute;
	width: 900px;
	height: 900px;
	background-color: transparent !important;

}

.back_img svg {
	width: inherit;
	height: inherit;
}

.back__bottom {
	bottom: 0;
	right: 0;
}

.back__top {
	top: 0;
	left: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100%;
}

.header {
	padding-top: 50px;

}

.header img {
	margin: 0 50px;
}

.navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.btn {
	text-decoration: none;
	color: #fff;
	background: linear-gradient(45deg, #060AB2, #060AB2);
	max-width: 600px;
	padding: 35px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font-size: 20px;
	margin: 50px 0;

}

.btn:active {
	box-shadow: #000 inset 1px 1px 10px -1px;
}

.qr {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.qr img {
	margin-top: 100px;
	width: 40%;
}

.scheme {
	animation: op 5s;
	height: 50vh;
	width: 50vw;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scheme h2{
	margin-bottom: 20px;
}

.scheme svg {
	/* animation: redf 2s; */
	max-height: 80%;
	width: auto;

}

@keyframes op {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.scheme .object {
	/* fill: #a4f1ff; */
	cursor: pointer;
	transition: 0.4s;
}

.scheme-item {
	animation: op 4s;
	position: absolute;
	cursor: pointer;
}

.hall {
	font-weight: bold;
	font-size: 8px;
	text-align: center;
	line-height: 13px;
	background: #fff;
	padding: 5px 5px;
}

.scheme-name {
	font-weight: bold;
	font-size: 8px;
	text-align: center;
	line-height: 13px;
}

.scheme-popup {
	display: none;
	border: 1px solid #777;
	padding: 10px;
	width: 200px;
	position: absolute;
	font-size: 12px;
	line-height: 14px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0 0 10px #444444;
	text-align: left;
}

.scheme .object:hover,
#hover {
	fill: #ffc70b !important;
}

.scheme .object.active {
	fill: #FF8C0B !important;
}
